.MobileWorksContainer {
  /* border: 3px solid; */
  display: flex;
  flex: 3;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
/* @font-face {
  font-family: "Slabo";
  src: url("../../static/fonts/Slabo/Slabo_27px/Slabo27px-Regular.ttf")
    format("ttf");
} */
@font-face {
  font-family: "Modak";
  src: url("../../static/fonts/Modak-Regular.ttf") format("ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Slabo+27px&display=swap");
a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.mobile-projectName {
  color: white;
  font-size: 30px;
  font-family: "Slabo 27px", serif;
}
.mobile-projectName-active {
  color: white;
  font-size: 30px;
  font-family: "Slabo 27px", serif;
  text-decoration: underline;
}

.mobile-description {
  /* border: 1px solid; */
  color: grey;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  padding-top: 10px;

  margin-left: 10px;
}
.mobile-description-active {
  color: #6f6e6e;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  text-decoration: underline;
  padding-top: 10px;
}

.mobile-rowContainer {
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}
.mobile-rowStyles {
  /* border: 1px solid; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobile-usageIconsContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}
.mobile-ic {
  /* border: 1px solid blue; */
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-iconContainer {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
