/* @font-face {
  font-family: "Slabo";
  src: url("../../static/fonts/Slabo/Slabo_27px/Slabo27px-Regular.ttf")
    format("ttf");
} */
@font-face {
  font-family: "Modak";
  src: url("../../static/fonts/Modak-Regular.ttf") format("ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Slabo+27px&display=swap");
a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.projectName {
  color: white;
  font-size: 30px;
  font-family: "Slabo 27px", serif;
}
.projectName-active {
  color: white;
  font-size: 30px;
  font-family: "Slabo 27px", serif;
  text-decoration: underline;
}

.description {
  /* border: 1px solid; */
  color: grey;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  padding-top: 10px;

  margin-left: 10px;
}
.description-active {
  color: #6f6e6e;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  text-decoration: underline;
  padding-top: 10px;
}

.rowContainer {
  /* border: 1px solid red; */
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: flex-start;
}
.rowStyles {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.usageIconsContainer {
  display: flex;

  justify-content: space-around;
  align-items: flex-end;
  /* border: 1px solid green; */
  margin-left: 10px;
}
.ic {
  /* border: 1px solid blue; */
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
